In [1]:
import sqlite3
import pandas as pd
import numpy as np

Подключение к базе данных, или если ее нет создание и подключение

In [10]:
con = sqlite3.connect('orders.db')

In [11]:
df = pd.DataFrame({'col': [1, 2, 3], 'col2': [4, 5, 6]})

Заливка таблицы в базу данных к которой подключены

In [12]:
df.to_sql(name='new_table', con=con, schema='public')

In [7]:
# функция-обертка
def select_data(sql):
    return pd.read_sql(sql, con)

In [15]:
sql_query = '''
select *
from new_table;
'''

In [16]:
select_data(sql_query)

   index  col  col2
0      0    1     4
1      1    2     5
2      2    3     6